<%- include('../partials/header.ejs') %>
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <% if(computer.image !== undefined){ %>
        <img class="img-tumbnail" height= "360px" style="margin:20px"src="/images/<%= computer.image %>" alt="<%= computer.name %>">
      <% }; %>
    </div>
    <div class="col-md-6">
      <h1  style="margin-top: 60px;"><%= computer.name %></h1>
      <br>
        <p>
            <a style="color:gray"href="<%= computer.brand.url %>" ><%= computer.brand.name %></a>
        </p>
     
      <h4><%= computer.description %></h4>
      
      <br>
      <p>
        <span class="badge badge-success badge-pill">
          <%= "$" + computer.price.toLocaleString() + " ARS"%>
        </span> </p>
    </div>


  </div>
  <hr><br>
  
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-secondary">Brand</h4>
        <p  style="background-color: #6c757d; padding: 10px;"> <a class="text-white" href="<%= computer.brand.url %>"><%= computer.brand.name %></a> </p>
      </div>
      <div class="col-md-4">
        <h4 class="text-secondary">CPU</h4>
        <p  style="background-color: #6c757d; padding: 10px;"> <a class="text-white" href="<%= computer.cpu.url %>"><%= computer.cpu.name %></a></p>
      </div>
      <div class="col-md-4">
        <h4 class="text-secondary">GPU</h4>
        <p  style="background-color: #6c757d; padding: 10px;"> <a class="text-white" href="<%= computer.gpu.url %>"><%= computer.gpu.name %></a></p>
      </div>
      <div class="col-md-4">
        <h4 class="text-secondary">Cabinet</h4>
        <p  style="background-color: #6c757d; padding: 10px;"> <a class="text-white"  href="<%= computer.cabinet.url %>"><%= computer.cabinet.name %></a></p>
      </div>
      <div class="col-md-4">
        <h4 class="text-secondary">Power Supply </h4>
        <p  style="background-color: #6c757d; padding: 10px;"> <a class="text-white" href="<%= computer.powerSupply.url %>"><%= computer.powerSupply.name %></a></p>
      </div>
      <div class="col-md-4">
        <h4 class="text-secondary">Rams</h4>
        <% if(computer.ram.length > 0){ %>
          <ul class="list-group">
            <% computer.ram.forEach(function(ram){ %>
              <li class="list-group-item" style="background-color: #6c757d;">
                <a href="<%= ram.url %>" class="text-white"><%= ram.name %></a>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </div>
      <div class="col-md-4">
        <h4 class="text-secondary">Storages</h4>
        <% if(computer.storage.length > 0){ %>
          <ul class="list-group">
            <% computer.storage.forEach(function(storage){ %>
              <li class="list-group-item" style="background-color: #6c757d;">
                <a href="<%= storage.url %>" class="text-white"><%= storage.name %></a>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </div>

     </div>
    <br>
    <div class="card-footer" style="margin-bottom: 20px">
             
      <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
      <a href="<%= computer.url %>/delete" class="btn btn-danger float-right">Delete</a>
      <a href="<%= computer.url %>/update" class="btn btn-primary float-right" style="background: rgb(51, 51, 148)"bac>Update</a>

    </div>
  
<%- include('../partials/footer.ejs') %>