<%- include('../partials/header.ejs') %>




<aside class="d-flex flex-column card card-body" style="align-items: center; margin:10px 0px">
  <div class="row">
    <div class="col-2">
      <img id="ram" class="nav-link_computer" src="/static_images/ram.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-2">
      <img id="cpu" class="nav-link_computer" src="/static_images/cpu.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-2">
      <img id="storage" class="nav-link_computer" src="/static_images/storage.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-2">
      <img id="power" class="nav-link_computer" src="/static_images/power.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-2">
      <img id="mother" class="nav-link_computer" src="/static_images/mother.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-2">
      <img id="cabinet" class="nav-link_computer" src="/static_images/cabinet.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
  </div>
</aside>

<div class="product-container"></div>

<script>
function handleImageClick(img) {
  let src = img.src.split('.');
  let newSrc = src[0].endsWith('-active') ? src[0].slice(0, -7) + '.' + src[1] : src[0] + '-active.' + src[1];
  let baseURL = window.location.origin;
  src[0] = src[0].replace(baseURL, '');
  newSrc = newSrc.replace(baseURL, '');
  let images = document.querySelectorAll('.nav-link_computer');
  for (let image of images) {
    let currSrc = image.src.split('.');
    currSrc[0] = currSrc[0].replace(baseURL, '');
    if (currSrc[0].endsWith('-active')) {
      currSrc[0] = currSrc[0].slice(0, -7);
      image.src = baseURL + currSrc[0] + '.' + currSrc[1];
      image.classList.remove("active");
    }
  }
  img.src = baseURL + newSrc;
  img.classList.add("active");
  // Añade esta parte
  let productContainer = document.querySelector('.product-container');
  productContainer.innerHTML = '';
  switch(img.id) {
    case 'storage':
    productContainer.innerHTML += `
      <div class="row">
      <% for (storage of storages) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100">

            <img src="<%=  typeof storage.toObject().image !== 'undefined' ? '/images/' + storage.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= storage.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= storage.url %>"><%= storage.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < storage.brand.length; j++) { %>
                  <%= storage.brand[j].name %>
                <% } %> -
                <span class="badge badge-primary badge-pill"> <%= storage.type %> </span> <br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + storage.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'ram':
    productContainer.innerHTML += `
      <div class="row">
      <% for (ram of rams) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100">

            <img src="<%=  typeof ram.toObject().image !== 'undefined' ? '/images/' + ram.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= ram.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= ram.url %>"><%= ram.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < ram.brand.length; j++) { %>
                  <%= ram.brand[j].name %>
                <% } %> -
                <span class="badge badge-primary badge-pill"> <%= ram.type %> </span> <br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + ram.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'cpu':
    productContainer.innerHTML += `
      <div class="row">
      <% for (cpu of cpus) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100">

            <img src="<%=  typeof cpu.toObject().image !== 'undefined' ? '/images/' + cpu.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= cpu.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= cpu.url %>"><%= cpu.name %></a>  </h5> 
              <p class="card-text">
                  <%= cpu.core_count %> cores <br>
                  <%= cpu.thread_count %> threads<br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + cpu.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'power':
    productContainer.innerHTML += `
      <div class="row">
      <% for (powerSupply of powerSupplies) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100">

            <img src="<%=  typeof powerSupply.toObject().image !== 'undefined' ? '/images/' + powerSupply.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= powerSupply.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= powerSupply.url %>"><%= powerSupply.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < powerSupply.brand.length; j++) { %>
                  <%= powerSupply.brand[j].name %>
                <% } %> -
                <span class="badge badge-primary badge-pill"> <%= powerSupply.type %> </span> <br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + powerSupply.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'mother':
        productContainer.innerHTML += `
      <div class="row">
      <% for (motherboard of motherboards) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100">

            <img src="<%=  typeof motherboard.toObject().image !== 'undefined' ? '/images/' + motherboard.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= motherboard.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= motherboard.url %>"><%= motherboard.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < motherboard.brand.length; j++) { %>
                  <%= motherboard.brand[j].name %>
                <% } %> -
                <span class="badge badge-primary badge-pill"> <%= motherboard.type %> </span> <br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + motherboard.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'cabinet':
      productContainer.innerHTML += `
      <div class="row">
      <% for (cabinet of cabinets) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100">

            <img src="<%=  typeof cabinet.toObject().image !== 'undefined' ? '/images/' + cabinet.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= cabinet.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= cabinet.url %>"><%= cabinet.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < cabinet.brand.length; j++) { %>
                  <%= cabinet.brand[j].name %>
                <% } %> -
                <span class="badge badge-primary badge-pill"> <%= cabinet.type %> </span> <br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + cabinet.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    }
  }


</script>





<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="<%= (typeof computer === 'undefined' ? '' : computer.name) %>" required>
    </div>
    <div class="form-group">
        <label for="description">Description (opcional)</label>
            <textarea name="description" id="description" class="form-control" row="3" placeholder="Write you description"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <p class="alert-danger">For the moment, you can have only one image for product. In the future, this functionality will be expanded</p>
        <input type="file" multiple name="image" required id="image"  class="form-control" >
    </div>

    <div class="form-group">
        <label for="brand">Brand</label>
        <select class="form-control" name="brand" id="brand" required>
            <% for (let brand of brands) { %>   
                <option name="brand" id="<%= brand._id %>" value="<%= brand._id %>" %>" <%= typeof brand.checked != "undefined" && brand.checked ? 'checked' : '' %>> <%= brand.name %> </option> 
            <% } %>   
        </select>
    </div>
    <div class="form-group">
        <label for="cabinet">Cabinet</label>
        <select class="form-control" name="cabinet" id="cabinet" required>
          <% for (let cabinet of cabinets) { %>   
            <option  id="<%= cabinet._id %>" value="<%= cabinet._id %>" <%= (typeof computer !== 'undefined' && cabinet.name === computer.cabinet.name) ? 'selected' : '' %>><%= cabinet.name %></option>
          <% } %>   
        </select>
        <ul>
            <% for (let cabinet of cabinets) { %>
                <li><a target="_blank" href="<%= cabinet.url %>" class="cabinet-link"><%= cabinet.name %></a></li>
              <% } %>
        </ul>
        
      </div>
      <div class="form-group">
        <label for="cpu">CPU</label>
        <select class="form-control" name="cpu" id="cpu" required>
          <% for (let cpu of cpus) { %>   
            <option  id="<%= cpu._id %>" value="<%= cpu._id %>" <%= (typeof computer !== 'undefined' && cpu.name === computer.cpu.name) ? 'selected' : '' %>><%= cpu.name %></option>
          <% } %>   
        </select>
        <ul>
            <% for (let cpu of cpus) { %>
                <li><a target="_blank" href="<%= cpu.url %>" class="cpu-link"><%= cpu.name %></a></li>
              <% } %>
        </ul>
        
      </div>
      <div class="form-group">
        <label for="gpu">GPU</label>
        <select class="form-control" name="gpu" id="gpu" required>
          <% for (let gpu of gpus) { %>   
            <option  id="<%= gpu._id %>" value="<%= gpu._id %>" <%= (typeof computer !== 'undefined' && gpu.name === computer.gpu.name) ? 'selected' : '' %>><%= gpu.name %></option>
          <% } %>   
        </select>
        <ul>
            <% for (let gpu of gpus) { %>
                <li><a target="_blank" href="<%= gpu.url %>" class="gpu-link"><%= gpu.name %></a></li>
              <% } %>
        </ul>
        
      </div>
      <div class="form-group">
        <label for="motherboard">Motherboard</label>
        <select class="form-control" name="motherboard" id="motherboard" required>
          <% for (let motherboard of motherboards) { %>   
            <option id="<%= motherboard._id %>" value="<%= motherboard._id %>" <%= (typeof computer !== 'undefined' && motherboard.name === computer.motherboard.name) ? 'selected' : '' %>><%= motherboard.name %></option>
          <% } %>   
        </select>
        <ul>
            <% for (let motherboard of motherboards) { %>
                <li><a target="_blank" href="<%= motherboard.url %>" class="motherboard-link"><%= motherboard.name %></a></li>
              <% } %>
        </ul>
      </div>

      <div class="form-group">
        <label for="powerSupply">Power Supply</label>
        <select class="form-control" name="powerSupply" id="powerSupply" required>
          <% for (let powerSupply of powerSupplies) { %>   
            <option  id="<%= powerSupply._id %>" value="<%= powerSupply._id %>" <%= (typeof computer !== 'undefined' && powerSupply.name === computer.powerSupply.name) ? 'selected' : '' %>><%= powerSupply.name %></option>
          <% } %>   
        </select>
        <ul>
            <% for (let powerSupply of powerSupplies) { %>
                <li><a target="_blank" href="<%= powerSupply.url %>" class="powerSupply-link"><%= powerSupply.name %></a></li>
              <% } %>
        </ul>
      </div>

      <div><br>
        <label for="rams">Rams</label> <br>
        <% for (let ram of rams) { %>
            <input type="checkbox" name="rams" id="<%= ram._id %>" value="<%= ram._id %>" %>" <%= ram.checked ? 'checked' : '' %>>
            <label for="<%= ram._id %>"> <%= ram.name %> </label> <br>
        <% } %>
      </div>

      <div><br>
        <label for="storages">Storages</label> <br>
        <% for (let storage of storages) { %>
            <input type="checkbox" name="storages" id="<%= storage._id %>" value="<%= storage._id %>" %>" <%= storage.checked ? 'checked' : '' %>>
            <label for="<%= storage._id %>"> <%= storage.name %> </label> <br>
        <% } %>
      </div>
      
    


    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form><br>

<% if(typeof errors !== 'undefined'){ %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
    <% }); %>
<% } %>
<% if(typeof errors_compatibility !== 'undefined'){ %>
    <% for (let error of errors_compatibility) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% }; %>
<% } %>

</div>
</div>
</div>

<%- include('../partials/footer.ejs') %>