<%- include('../partials/header.ejs') %>




  <aside class="d-flex flex-column card card-body" style="align-items: center; margin:10px 0px">
    <div class="row">
      <div class="col-15">
        <img id="cpu_img" class="nav-link_computer" src="/static_images/cpu.png" onclick="handleImageClick(this)"
          style="width: 66px; height: 59px;">
      </div>
      <div class="col-15">
        <img id="mother_img" class="nav-link_computer" src="/static_images/mother.png" onclick="handleImageClick(this)"
          style="width: 66px; height: 59px;">
      </div>
      <div class="col-15">
        <img id="ram_img" class="nav-link_computer" src="/static_images/ram.png" onclick="handleImageClick(this)"
          style="width: 66px; height: 59px;">
      </div>

      <div class="col-15">
        <img id="gpu_img" class="nav-link_computer" src="/static_images/gpu.png" onclick="handleImageClick(this)"
          style="width: 66px; height: 59px;">
      </div>
      <div class="col-15">
        <img id="storage_img" class="nav-link_computer" src="/static_images/storage.png"
          onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
      </div>
      <div class="col-15">
        <img id="powerSupply_img" class="nav-link_computer" src="/static_images/powerSupply.png"
          onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
      </div>

      <div class="col-15">
        <img id="cabinet_img" class="nav-link_computer" src="/static_images/cabinet.png"
          onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
      </div>
    </div>
  </aside>

  <div class="product-container" id="product-container"></div>

  <script>
    var selectedProducts = []
    var selectedRam = [];
    var selectedStorage = [];

    // This fragment of code detect the change in the product container content
    const productContainer = document.getElementById("product-container");

    const observer = new MutationObserver(function (mutations) {
      mutations.forEach(function (mutation) {
        if (mutation.addedNodes.length > 0) {
          for (product of selectedProducts) {


            let selectedProduct = document.getElementById(product)
            if (selectedProduct != null) {
              if (selectedProduct.classList.contains('brand-img')) {
                selectedProduct.classList.add("selected-brand");

              } else {
                selectedProduct.classList.add("selected-product");
              }

              if (selectedProduct.classList.contains('ram')) {
                let stock = document.getElementById(`stock-${product}`)

                if (stock != null) {

                  const productCount = selectedRam.filter(item => item === product).length;



                  stock.innerHTML = `
            <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary minus-btn" onclick="deleteProduct('${product}', 'ram', event);" type="button">-</button>
            </div>
            <span class="form-control quantity-text">${productCount}</span>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary plus-btn" type="button">+</button>
            </div>
          </div>
            `
                }
              }
              if (selectedProduct.classList.contains('storage')) {
                let stock = document.getElementById(`stock-${product}`)

                if (stock != null) {


                  const productCount = selectedStorage.filter(item => item._id === product).length;



                  stock.innerHTML = `
            <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary minus-btn" onclick="deleteProduct('${product}', 'ram', event);" type="button">-</button>
            </div>
            <span class="form-control quantity-text">${productCount}</span>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary plus-btn" type="button">+</button>
            </div>
          </div>
            `
                }
              }


            }

          };


        }
      })

    });

    observer.observe(productContainer, {
      childList: true,

    });




    function handleImageClick(img) {

      // Manejamos el cambio de las im치genes
      let src = img.src.split('.');

      if (src[0].includes("static_images")) {
        let newSrc = src[0].endsWith('-active') ? src[0].slice(0, -7) + '.' + src[1] : src[0] + '-active.' + src[1];
        let baseURL = window.location.origin;
        src[0] = src[0].replace(baseURL, '');
        newSrc = newSrc.replace(baseURL, '');



        let images = document.querySelectorAll('.nav-link_computer');
        for (let image of images) {
          let currSrc = image.src.split('.');
          currSrc[0] = currSrc[0].replace(baseURL, '');
          if (currSrc[0].endsWith('-active')) {
            currSrc[0] = currSrc[0].slice(0, -7);
            image.src = baseURL + currSrc[0] + '.' + currSrc[1];
            image.classList.remove("active");
          }
        }
        img.src = baseURL + newSrc;
      }

      img.classList.add("active");
      let activeImage = document.getElementsByClassName('active')

      if (activeImage.length > 2) {


      }




      // Aqu칤 es cuando mostramos todos los productos
      let productContainer = document.querySelector('.product-container');
      productContainer.innerHTML = '';
      switch (img.id) {
        case 'storage_img':
          productContainer.innerHTML += `
  <div id="storage-alert"></div>
    <div class="row">
    <% for (storage of storages) { %>
      <% let prod = {name:storage.name, id:storage._id, price: storage.price, image:storage.image  }%>
      <div class="col-md-3 mb-3">
        <div class="card  product storage  h-100" id="<%= storage._id %>" onclick="selectProduct(<%= JSON.stringify(storage) %>, 'storage', <%= JSON.stringify(prod) %>);">

          <img src="<%=  typeof storage.toObject().image !== 'undefined' ? '/images/' + storage.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= storage.name%>">
          <div class="card-body">
            <h5 class="card-title"> <a href="<%= storage.url %>"><%= storage.name %></a>  </h5> 
            <p class="card-text">
              <% for (var j = 0; j < storage.brand.length; j++) { %>
                <%= storage.brand[j].name %>
              <% } %> -
              <span class="badge badge-primary badge-pill"> <%= storage.type %> </span> <br>
              <span class="badge badge-success badge-pill">
                <%= "$" + storage.price.toLocaleString() + " ARS"%>
              </span>
            </p>
              <div id="stock-<%=  storage._id %>"></div>
              
          </div>
        </div>
      </div>
  <% } %>
  </div>`;
          break;

        case 'ram_img':
          productContainer.innerHTML += `
  <div id="ram-alert"></div>
  <p>Es recomendable que todas las rams sean del mismo modelo.</p>
    <div class="row">
    <% for (ram of rams) { %>
      <% let prod = {name:ram.name, id:ram._id, price: ram.price, image:ram.image  }%>
      <div class="col-md-3 mb-3">
        <div class="card  product ram h-100" id="<%= ram._id %>" onclick="selectProduct(<%= JSON.stringify(ram) %>, 'ram', <%= JSON.stringify(prod) %>);">

          <img src="<%=  typeof ram.toObject().image !== 'undefined' ? '/images/' + ram.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= ram.name%>">
          <div class="card-body">
            <h5 class="card-title"> <a href="<%= ram.url %>"><%= ram.name %></a>  </h5> 
            <p class="card-text">
              <% for (var j = 0; j < ram.brand.length; j++) { %>
                <%= ram.brand[j].name %>
              <% } %> -
              <span class="badge badge-primary badge-pill"> <%= ram.type %> </span> 
              <span class="badge badge-success badge-pill">
                <%= "$" + ram.price.toLocaleString() + " ARS"%>
                
              </span> 
            </p>
              <div id="stock-<%= ram._id %>"></div>
              
              
              
            
          </div>
        </div>
      </div>
  <% } %>
  </div>`;
          break;
        case 'cpu_img':




          productContainer.innerHTML += `
  <div id="brand-alert"></div>
    <% for (brand of brands){%>
    <div class="row">
      <% if(brand.name.toLowerCase() == "intel"){%>
      <div class="col-md-3 card brand-img" id="<%= brand._id%>" 
        onclick="selectProduct( <%= JSON.stringify(brand) %>, 'brand');">
        <img alt="Intel" id="<%= brand._id%>" src="/static_images/intel.png">
      </div>
      <% } %>
      <% if(brand.name.toLowerCase() == "amd"){%>
      <div class="col-md-3 card brand-img" id="<%= brand._id%>"
        onclick="selectProduct( <%= JSON.stringify(brand) %>, 'brand');">
        <img alt="amd"  src="/static_images/amd.png"> 
      </div>
      <% } %>
    </div>

    <% } %>
    <div id="cpu-alert"></div>
    <div class="row">
    <% for (cpu of cpus) { %>
      <% let prod = {name:cpu.name, id:cpu._id, price: cpu.price, image:cpu.image  }%>
      <div class="col-md-3 mb-3 " >
        <div class="card h-100 product" id="<%= cpu._id %>" onclick="selectProduct(<%= JSON.stringify(cpu) %>, 'cpu', <%= JSON.stringify(prod) %>);">

          <img src="<%=  typeof cpu.toObject().image !== 'undefined' ? '/images/' + cpu.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= cpu.name%>">
          <div class="card-body">
            <h5 class="card-title"> <a href="<%= cpu.url %>"><%= cpu.name %></a>  </h5> 
            <p class="card-text">
                <%= cpu.core_count %> cores <br>
                <%= cpu.thread_count %> threads<br>
              <span class="badge badge-success badge-pill">
                <%= "$" + cpu.price.toLocaleString() + " ARS"%>
              </span>
            </p>
          </div>
        </div>
      </div>
  <% } %>
  </div>`;
          break;
        case 'gpu_img':
          productContainer.innerHTML += `
    <div class="row">
    <% for (gpu of gpus) { %>
      <% let prod = {name:gpu.name, id:gpu._id, price: gpu.price, image:gpu.image  }%>
      <div class="col-md-3 mb-3">
        <div class="card  h-100 product" id="<%= gpu._id %>" onclick="selectProduct(<%= JSON.stringify(gpu) %>, 'gpu', <%= JSON.stringify(prod) %>);">

          <img src="<%=  typeof gpu.toObject().image !== 'undefined' ? '/images/' + gpu.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= gpu.name%>">
          <div class="card-body">
            <h5 class="card-title"> <a href="<%= gpu.url %>"><%= gpu.name %></a>  </h5> 
            <p class="card-text">
              <% for (var j = 0; j < gpu.brand.length; j++) { %>
                <%= gpu.brand[j].name %>
              <% } %> -
              Core clock: <%= gpu.core_clock %> <br>
                Memory: <%= gpu.memory %><br>
                <%= "$" + gpu.price.toLocaleString() + " ARS"%>
                
              </span>
            </p>
          </div>
        </div>
      </div>
  <% } %>
  </div>`;
          break;
        case 'powerSupply_img':
          productContainer.innerHTML += `
    <div class="row">
    <% for (powerSupply of powerSupplies) { %>
      <% let prod = {name:powerSupply.name, id:powerSupply._id, price: powerSupply.price, image:powerSupply.image  }%>
      <div class="col-md-3 mb-3">
        <div class="card  h-100 product" id="<%= powerSupply._id %>" onclick="selectProduct(<%= JSON.stringify(powerSupply) %>, 'powerSupply', <%= JSON.stringify(prod) %>);">

          <img src="<%=  typeof powerSupply.toObject().image !== 'undefined' ? '/images/' + powerSupply.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= powerSupply.name%>">
          <div class="card-body">
            <h5 class="card-title"> <a href="<%= powerSupply.url %>"><%= powerSupply.name %></a>  </h5> 
            <p class="card-text">
              <% for (var j = 0; j < powerSupply.brand.length; j++) { %>
                <%= powerSupply.brand[j].name %>
              <% } %> -
              <%= powerSupply.certifications %> <br>
              <%= powerSupply.power %> W <br>
              <span class="badge badge-success badge-pill">
                <%= "$" + powerSupply.price.toLocaleString() + " ARS"%>
              </span>
            </p>
          </div>
        </div>
      </div>
  <% } %>
  </div>`;
          break;
        case 'mother_img':
          productContainer.innerHTML += `
      <div id="motherboard-alert"></div>
    <div class="row">
    <% for (motherboard of motherboards) { %>
      <% let prod = {name:motherboard.name, id:motherboard._id, price: motherboard.price, image:motherboard.image  }%>
      <div class="col-md-3 mb-3">
        <div class="card h-100 product" id="<%= motherboard._id %>" onclick="selectProduct( <%= JSON.stringify(motherboard) %>, 'motherboard', <%= JSON.stringify(prod) %>);");">

          <img src="<%=  typeof motherboard.toObject().image !== 'undefined' ? '/images/' + motherboard.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= motherboard.name%>">
          <div class="card-body">
            <h5 class="card-title"> <a href="<%= motherboard.url %>"><%= motherboard.name %></a>  </h5> 
            <p class="card-text">
              <% for (var j = 0; j < motherboard.brand.length; j++) { %>
                <%= motherboard.brand[j].name %>
              <% } %> -
              <span class="badge badge-primary badge-pill"> <%= motherboard.type %> </span> <br>
              <span class="badge badge-success badge-pill">
                <%= "$" + motherboard.price.toLocaleString() + " ARS"%>
              </span>
            </p>
          </div>
        </div>
      </div>
  <% } %>
  </div>`;
          break;
        case 'cabinet_img':
          productContainer.innerHTML += `
    <div class="row">
    <div id="cabinet-alert"></div>
    <% for (cabinet of cabinets) { %>
      <% let prod = {name:cabinet.name, id:cabinet._id, price: cabinet.price, image:cabinet.image  }%>
      <div class="col-md-3 mb-3">
        <div class="card h-100 product" id="<%= cabinet._id %>" onclick="selectProduct(<%= JSON.stringify(cabinet) %>, 'cabinet', <%= JSON.stringify(prod) %>);" >

          <img 
          src="<%=  typeof cabinet.toObject().image !== 'undefined' ? '/images/' + cabinet.image : 'https://via.placeholder.com/300x200' %>" 
          class="card-img-top" alt="<%= cabinet.name%>"  >
          <div class="card-body" >
            <h5 class="card-title"> <a href="<%= cabinet.url %>"><%= cabinet.name %></a>  </h5> 
            <p class="card-text" >
              <% for (var j = 0; j < cabinet.brand.length; j++) { %>
                <%= cabinet.brand[j].name %>
              <% } %> -
              <span class="badge badge-primary badge-pill"> <%= cabinet.type %> </span> <br>
              <span class="badge badge-success badge-pill" >
                <%= "$" + cabinet.price.toLocaleString() + " ARS"%>
              </span>
            </p>
          </div>
        </div>
      </div>
  <% } %>
  </div>`;
          break;
      }
    }
  </script>

  <!-- Importamos todo lo correspondiente a la selecci칩n de productos -->
  <script defer src="/javascripts/computer_form.js"></script>





  <div class="card">
    <div class="card-header">
      <% if (typeof session !="undefined" && typeof session.user !="undefined" && session.user.rol=="vendedor" ){ %>
        <h5 class="card-title">Detalles para publicaci칩n</h5>
    </div>
    <div class="card-body">
      <form action="" id="computer-form" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name"
            value="<%= (typeof computer === 'undefined' ? '' : computer.name) %>" required>
        </div>
        <div class="form-group">
          <label for="description">Description (optional)</label>
          <textarea name="description" id="description" class="form-control" rows="3"
            placeholder="Write your description"></textarea>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <p class="alert alert-danger">Por el momento, solamente se puede a침adir una imagen del producto. 
            En el futuro esta funci칩n ser치 expandida  游봆</p>
          <input type="file" multiple name="image" required id="image" class="form-control-file">
          <input id="last_image" name="last_image" value="<%= (typeof computer === 'undefined' ? '' : computer.image) %>" style="visibility:hidden">
          <img src="<%= (typeof computer !== 'undefined' && typeof computer.toObject().image !== 'undefined') 
          ? `/images/${computer.image}` : 'https://via.placeholder.com/300x250' %>" height="250" alt="Image preview..." id="preview" style="margin: 20px auto; display: block;">
        </div>

        <script>
          function previewFile() {
            var preview = document.getElementById("preview");
            var file = document.querySelector("input[type=file]").files[0];
            var reader = new FileReader();
        
            reader.addEventListener("load", function() {
              preview.src = reader.result;
            }, false);
        
            if (file) {
              reader.readAsDataURL(file);
            }
          }
        
          document.querySelector("input[type=file]").addEventListener("change", previewFile);
        </script>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <% } %>
          <div style="display:none;">
            <div class="form-group">
              <label for="brand">Brand</label>

              <input name="brand" id="brand" required>
            </div>
            <div class="form-group">
              <label for="cabinet">Cabinet</label>
              <input name="cabinet" id="cabinet" required>
            </div>


            <div class="form-group">
              <label for="cpu">CPU</label>
              <input name="cpu" id="cpu" required>
            </div>


            <div class="form-group">
              <label for="gpu">GPU</label>
              <input name="gpu" id="gpu" required>
            </div>


            <div class="form-group">
              <label for="motherboard">Motherboard</label>
              <input name="motherboard" id="motherboard" required>
            </div>

            <div class="form-group">
              <label for="powerSupply">Power Supply</label>
              <input name="powerSupply" id="powerSupply" required>
            </div>

            <div><br>

              <label for="rams">Rams</label>
              <input name="rams" id="rams" required multiple>
            </div>

            <div>
              <label for="storages">Storages</label>
              <input name="storages" id="storages" required multiple>

            </div>
          </div>




      </form>
      <form id="form-cart" action="cart" method="post" enctype="multipart/form-data">
        <input style="display:none;" id="cart_array" name="cart_array" type="text" required>
        <div class="text-center">
          <button style="margin:10px" id="add-cart-button" class="btn btn-primary" type="submit">Add Cart</button>
        </div>

      </form>

      <script>
        document.getElementById("add-cart-button").addEventListener("click", function () {
          if (!cpu.value || !powerSupply.value || !rams.value || !storages.value || !cabinet.value || !motherboard.value) {
            event.preventDefault();
            alert("Por favor, agregue/seleccione todos los componentes");
            return;
          }
        })




        document.getElementById("form-cart").addEventListener("submit", function (event) {
          const cpu = document.getElementById("cpu");
          const powerSupply = document.getElementById("powerSupply");
          const rams = document.getElementById("rams");
          const storages = document.getElementById("storages");
          const cabinet = document.getElementById("cabinet");
          const motherboard = document.getElementById("motherboard");

          if (!cpu.value || !powerSupply.value || !rams.value || !storages.value || !cabinet.value || !motherboard.value) {
            event.preventDefault();
            alert("Por favor, agregue/seleccione todos los componentes");
            return;
          }

          agregarAlCarrito(JSON.stringify(cartProducts))
        });
      </script>


    </div>
  </div><br>





  <% if(typeof errors !=='undefined' ){ %>
    <% errors.forEach(function(error) { %>
      <div class="alert alert-danger">
        <%= error.msg %>
      </div>
      <% }); %>
        <% } %>
          <% if(typeof errors_compatibility !=='undefined' ){ %>
            <% for (let error of errors_compatibility) { %>
              <div class="alert alert-danger">
                <%= error %>
              </div>
              <% }; %>
                <% } %>

                  </div>
                  </div>
                  </div>

                  <%- include('../partials/footer.ejs') %>