<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/style_list.css" type="text/css">
<div class="container">

  <div class="row" id="container_list-products">
    <% for (var i=0; i< computer_list.length; i++) { %>
      <div class="col-md-4 mb-3">
        <div class="card " style="padding:4px">
          <% const prod = {name:computer_list[i].name.slice(0, 80) + (computer_list[i].name.length > 80 ? '...' : ''), id:computer_list[i]._id, price: computer_list[i].price, image:computer_list[i].image }%>
      
          <img src="<%=  typeof computer_list[i].toObject().image !== 'undefined' ? computer_list[i].image : 'https://via.placeholder.com/300x200' %>" class="card-img-top card-img-top_computer" alt="<%= computer_list[i].name %>">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"> 
              <a href="<%= computer_list[i].url %>">
                <%= computer_list[i].name.slice(0, 38) + (computer_list[i].name.length > 38 ? '...' : '')%>
              </a> 
            </h5>
            <p class="card-text">
              <br>
              <span class="badge badge-success badge-pill">
                <%= "$" + Number(computer_list[i].price).toLocaleString() + " ARS"%>
              </span>
              <button value="<%= JSON.stringify(prod) %>" id="btn-cart-add"class="btn btn-primary product-cart">Add Cart</button>
            </p>
            
          </div>
        </div>
      </div>

      
    <% } %>
  </div>
  <% if(computer_list.length === 0) { %>
  <div class="text-center my-5">
    <h3> There are no computers.</h3>
  </div>
  <% } %>
</div>


<%- include('../partials/footer.ejs') %>