<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/style_form.css" type="text/css">
<div class="container container-delete" >
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3>Borrar computadora <%= computer.name %></h3>
          <div class="card-body">
            <p>Estas seguro de que quieres eliminar esta computadora?</p>
            <h4><%= computer.name %></h4>
            <form action="" method="post">
              <input
                type="hidden"
                name="computerid"
                value="<%= computer._id %>"
                required
              />
              <div class="form-group">
                <button type="submit" class="btn btn-danger">Borrar</button>
                <a href="/computers/" class="btn btn-secondary">Cancelar</a>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-md-12">
              <br />
              <a href="javascript:history.back()" class="btn btn-primary"
                >Go Back</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
