<%- include('../partials/header.ejs') %>




<aside class="d-flex flex-column card card-body" style="align-items: center; margin:10px 0px">
  <div class="row">
    <div class="col-15">
      <img id="ram_img" class="nav-link_computer" src="/static_images/ram.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-15">
      <img id="cpu_img" class="nav-link_computer" src="/static_images/cpu.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-15">
      <img id="gpu_img" class="nav-link_computer" src="/static_images/gpu.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-15">
      <img id="storage_img" class="nav-link_computer" src="/static_images/storage.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-15">
      <img id="power_img" class="nav-link_computer" src="/static_images/power.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-15">
      <img id="mother_img" class="nav-link_computer" src="/static_images/mother.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
    <div class="col-15">
      <img id="cabinet_img" class="nav-link_computer" src="/static_images/cabinet.png" onclick="handleImageClick(this)" style="width: 66px; height: 59px;">
    </div>
  </div>
</aside>

<div class="product-container"></div> 

<script>
function handleImageClick(img) {
  let src = img.src.split('.');
  let newSrc = src[0].endsWith('-active') ? src[0].slice(0, -7) + '.' + src[1] : src[0] + '-active.' + src[1];
  let baseURL = window.location.origin;
  src[0] = src[0].replace(baseURL, '');
  newSrc = newSrc.replace(baseURL, '');
  let images = document.querySelectorAll('.nav-link_computer');
  for (let image of images) {
    let currSrc = image.src.split('.');
    currSrc[0] = currSrc[0].replace(baseURL, '');
    if (currSrc[0].endsWith('-active')) {
      currSrc[0] = currSrc[0].slice(0, -7);
      image.src = baseURL + currSrc[0] + '.' + currSrc[1];
      image.classList.remove("active");
    }
  }
  img.src = baseURL + newSrc;
  img.classList.add("active");
  // Añade esta parte
  let productContainer = document.querySelector('.product-container');
  productContainer.innerHTML = '';
  switch(img.id) {
    case 'storage_img':
    productContainer.innerHTML += `
      <div class="row">
      <% for (storage of storages) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100" onclick="selectProduct('<%= JSON.stringify(storage) %>', 'storage');">

            <img src="<%=  typeof storage.toObject().image !== 'undefined' ? '/images/' + storage.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= storage.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= storage.url %>"><%= storage.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < storage.brand.length; j++) { %>
                  <%= storage.brand[j].name %>
                <% } %> -
                <span class="badge badge-primary badge-pill"> <%= storage.type %> </span> <br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + storage.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    
    case 'ram_img':
    productContainer.innerHTML += `
      <div class="row">
      <% for (ram of rams) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100" onclick="selectProduct('<%= ram._id%>', 'ram');">

            <img src="<%=  typeof ram.toObject().image !== 'undefined' ? '/images/' + ram.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= ram.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= ram.url %>"><%= ram.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < ram.brand.length; j++) { %>
                  <%= ram.brand[j].name %>
                <% } %> -
                <span class="badge badge-primary badge-pill"> <%= ram.type %> </span> <br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + ram.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'cpu_img':
    productContainer.innerHTML += `
      <div class="row">
      <% for (cpu of cpus) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100" onclick="selectProduct('<%= cpu._id%>', 'cpu');">

            <img src="<%=  typeof cpu.toObject().image !== 'undefined' ? '/images/' + cpu.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= cpu.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= cpu.url %>"><%= cpu.name %></a>  </h5> 
              <p class="card-text">
                  <%= cpu.core_count %> cores <br>
                  <%= cpu.thread_count %> threads<br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + cpu.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'gpu_img':
    productContainer.innerHTML += `
      <div class="row">
      <% for (gpu of gpus) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100" onclick="selectProduct('<%= gpu._id%>', 'gpu');">

            <img src="<%=  typeof gpu.toObject().image !== 'undefined' ? '/images/' + gpu.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= gpu.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= gpu.url %>"><%= gpu.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < gpu.brand.length; j++) { %>
                  <%= gpu.brand[j].name %>
                <% } %> -
                Core clock: <%= gpu.core_clock %> <br>
                  Memory: <%= gpu.memory %><br>
                  <%= "$" + gpu.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'power_img':
    productContainer.innerHTML += `
      <div class="row">
      <% for (powerSupply of powerSupplies) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100" onclick="selectProduct('<%= powerSupply._id%>', 'powerSupply');">

            <img src="<%=  typeof powerSupply.toObject().image !== 'undefined' ? '/images/' + powerSupply.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= powerSupply.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= powerSupply.url %>"><%= powerSupply.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < powerSupply.brand.length; j++) { %>
                  <%= powerSupply.brand[j].name %>
                <% } %> -
                <%= powerSupply.certifications %> <br>
                <%= powerSupply.power %> W <br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + powerSupply.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'mother_img':
        productContainer.innerHTML += `
      <div class="row">
      <% for (motherboard of motherboards) { %>
      
        <div class="col-md-3 mb-3">
          <div class="card h-100" onclick="selectProduct( <%= JSON.stringify(motherboard) %>, 'motherboard');">

            <img src="<%=  typeof motherboard.toObject().image !== 'undefined' ? '/images/' + motherboard.image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= motherboard.name%>">
            <div class="card-body">
              <h5 class="card-title"> <a href="<%= motherboard.url %>"><%= motherboard.name %></a>  </h5> 
              <p class="card-text">
                <% for (var j = 0; j < motherboard.brand.length; j++) { %>
                  <%= motherboard.brand[j].name %>
                <% } %> -
                <span class="badge badge-primary badge-pill"> <%= motherboard.type %> </span> <br>
                <span class="badge badge-success badge-pill">
                  <%= "$" + motherboard.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    case 'cabinet_img':
      productContainer.innerHTML += `
      <div class="row">
      <% for (cabinet of cabinets) { %>
        <div class="col-md-3 mb-3">
          <div class="card h-100" onclick="selectProduct('<%= cabinet._id%>', 'cabinet');" >

            <img 
            src="<%=  typeof cabinet.toObject().image !== 'undefined' ? '/images/' + cabinet.image : 'https://via.placeholder.com/300x200' %>" 
            class="card-img-top" alt="<%= cabinet.name%>"  >
            <div class="card-body" >
              <h5 class="card-title"> <a href="<%= cabinet.url %>"><%= cabinet.name %></a>  </h5> 
              <p class="card-text" >
                <% for (var j = 0; j < cabinet.brand.length; j++) { %>
                  <%= cabinet.brand[j].name %>
                <% } %> -
                <span class="badge badge-primary badge-pill"> <%= cabinet.type %> </span> <br>
                <span class="badge badge-success badge-pill" >
                  <%= "$" + cabinet.price.toLocaleString() + " ARS"%>
                </span>
              </p>
            </div>
          </div>
        </div>
    <% } %>
    </div>`;
      break;
    }
  }

  var socket_v2, socket_sata, maxRamSlot, maxStorageSlot;
  maxRamSlot = 2;
  socket_v2 = 1;
  socket_sata = 4;
  maxStorageSlot = 5;

  var selectedRam = [];
  var selectedStorage = [];

  function selectProduct(product, type) {
    
    if (type == 'motherboard') {
      if(product.ram_slots < selectedRam.length) {
        console.log('Insuficientes ram slots ')
        return;
      }
      socket_v2 = product.sockets_v2;
      socket_sata = product.sockets_sata;
      maxStorageSlot = socket_sata + socket_v2;
      console.log(maxStorageSlot)
      maxRamSlot = product.ram_slots;
      console.log(product)

      document.getElementById(type).value = product._id;
      return;
    }
    if (type == 'ram') {
      if (selectedRam.length <= maxRamSlot) {
        selectedRam.push(product);
        console.log(`RAM seleccionada: ${product}`);
        console.log();
        document.getElementById('rams').value = selectedRam.join(',');
        
      } else {
        console.log('Has alcanzado el máximo de slots de RAM');
      }
      return;
    }








      if(type == 'storage') {
        console.log(selectedStorage.length)
        console.log(maxStorageSlot)
        console.log(socket_sata)
        console.log(socket_v2)
        if (selectedStorage.length < maxStorageSlot){
          // Conver the product in a object
          product = JSON.parse(product);
          

          if(product.type == "HDD" || product.type == "SSD" || product.type == "SSHD"){
            let StorageSATA = selectedStorage.filter(obj => obj.type === "HDD" 
            || obj.type === "SSD" || obj.type === "SSHD") ;
            if(StorageSATA.length  > socket_sata){
              console.log('Has alcanzado el máximo de slots SATA');
              return;
            }
            selectedStorage.push(product)
            console.log('SATA añadido correctamente')
          }
          if(product.type == "NVMe"){
            let StorageV2 = selectedStorage.filter(obj => obj.type === "NVMe");
            if(StorageV2.length >= socket_v2){
              console.log('Has alcanzado el máximo de slots NVMe');
              return;
            }
            selectedStorage.push(product)
            console.log('NVMe añadido correctamente')
          }


          let resultStorage = selectedStorage.map(obj => obj._id);
          console.log(`Storages seleccionadas: ${resultStorage}`)
          document.getElementById('storages').value = resultStorage.join(',');
          return;
        } else {
          console.log('Haz alcanzado el límite de almacenamiento')
          return;
        }
        
      }






    document.getElementById(type).value = product;
    console.log("se ejecutó select product");
  }




</script>





<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="<%= (typeof computer === 'undefined' ? '' : computer.name) %>" required>
    </div>
    <div class="form-group">
        <label for="description">Description (opcional)</label>
            <textarea name="description" id="description" class="form-control" row="3" placeholder="Write you description"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <p class="alert-danger">For the moment, you can have only one image for product. In the future, this functionality will be expanded</p>
        <input type="file" multiple name="image" required id="image"  class="form-control" >
    </div>

    <div class="form-group">
        <label for="brand">Brand</label>
        <select class="form-control" name="brand" id="brand" required>
            <% for (let brand of brands) { %>   
                <option name="brand" id="<%= brand._id %>" value="<%= brand._id %>" %>" <%= typeof brand.checked != "undefined" && brand.checked ? 'checked' : '' %>> <%= brand.name %> </option> 
            <% } %>   
        </select>
    </div>


    <div class="form-group">
      <label for="cabinet">Cabinet</label>
      <input name="cabinet" id="cabinet" required>
    </div>


    <div class="form-group">
      <label for="cpu">CPU</label>
      <input name="cpu" id="cpu" required>
    </div>


    <div class="form-group">
      <label for="gpu">GPU</label>
      <input name="gpu" id="gpu" required>
    </div>


    <div class="form-group">
      <label for="motherboard">Motherboard</label>
      <input name="motherboard" id="motherboard" required>
    </div>

      <div class="form-group">
        <label for="powerSupply">Power Supply</label>
        <input name="powerSupply" id="powerSupply" required>
      </div>

      <div><br>
        
        <label for="rams">Rams</label>
        <input name="rams" id="rams" required multiple>
      </div>

      <div>
        <label for="storages">Storages</label> 
        <input name="storages" id="storages" required multiple>
        
      </div>
      
    


    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form><br>

<% if(typeof errors !== 'undefined'){ %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
    <% }); %>
<% } %>
<% if(typeof errors_compatibility !== 'undefined'){ %>
    <% for (let error of errors_compatibility) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% }; %>
<% } %>

</div>
</div>
</div>

<%- include('../partials/footer.ejs') %>