<%- include('../partials/header.ejs') %>
<div class="container">

  <div class="row" id="container_list-products">
    <% for (var i=0; i< ram_list.length; i++) { %>
    <div class="col-md-3 mb-3">
      <div class="card h-100">
        <% const prod = {name:ram_list[i].name, id:ram_list[i]._id, price:
        ram_list[i].price, image:ram_list[i].image }%>

        <img
          src="<%=  typeof ram_list[i].toObject().image !== 'undefined' ? '/images/' + ram_list[i].image : 'https://via.placeholder.com/300x200' %>"
          class="card-img-top"
          alt="<%= ram_list[i].name%>"
        />
        <div class="card-body">
          <h5 class="card-title">
            <a href="<%= ram_list[i].url %>"><%= ram_list[i].name %></a>
          </h5>
          <p class="card-text">
            <% for (var j = 0; j < ram_list[i].brand.length; j++) { %> <%=
            ram_list[i].brand[j].name %> <% } %>

            <br />
            <%= ram_list[i].speed %> MHz <br />
            <%= ram_list[i].size %> GB<br />
            <span class="badge badge-success badge-pill">
              <%= "$" + ram_list[i].price.toLocaleString() + " ARS"%>
            </span>
          </p>
          <a href="<%= ram_list[i].url %>" class="btn btn-primary">See More</a>
          <button
            value="<%= JSON.stringify(prod)%>"
            class="btn btn-primary product-cart"
          >
            Add Cart
          </button>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% if(ram_list.length === 0) { %>
  <div class="text-center my-5">
    <h3>There are no rams.</h3>
  </div>
  <% } %>
</div>
<%- include('../partials/footer.ejs') %>
