<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"><%= ramSchema.name %></h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-secondary">Brand</h4>
            <p class="text-dark">
                <% for (var j=0; j< ramSchema.brand.length; j++) { %>
                    <%= ramSchema.brand[j].name %>
                    <% if (j != ramSchema.brand.length -1) { %>
                      ,
                    <% } %>
                <% } %>
            </p>
        </div>
        <div class="col-md-4">
            <h4 class="text-secondary">Model</h4>
            <p class="text-dark">
                <%= ramSchema.model %>
            </p>
        </div>
        <div class="col-md-4">
            <h4 class="text-secondary">Size</h4>
            <p class="text-dark">
                <%= ramSchema.size %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-secondary">Memory Type</h4>
            <p class="text-dark">
                <%= ramSchema.type %>
            </p>
        </div>
        <div class="col-md-4">
            <h4 class="text-secondary">Speed</h4>
            <p class="text-dark">
                <%= ramSchema.speed %>
            </p>
        </div>
        <div class="col-md-4">
            <h4 class="text-secondary">Price</h4>
            <p class="text-dark">
                <%= ramSchema.price %>
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-10">
            <br>
            <a href="javascript:history.back()" class="btn btn-outline-secondary my-4"> Go Back</a>
        </div>
        <div class="col-md-2">
          <br>
          <a href="<%= ramSchema.url %>/delete" class="btn btn-danger">Delete</a>
        </div>
      </div>
</div>

<%- include('../partials/footer.ejs') %>
