
<%- include('../partials/header.ejs') %>

<div class="container">
    <h1 class="text-center"><%= title %></h1>
    <br>
    <div class="row">
      <% for (var i=0; i< ram_list.length; i++) { %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <%= ram_list[i].model %> </h5>
              <p class="card-text">Brand: 
                <% for (var j=0; j< ram_list[i].brand.length; j++) { %>
                  <%= ram_list[i].brand[j].name %>
                  <% if (j != ram_list[i].brand.length -1) { %>
                    ,
                  <% } %>
                <% } %>
              </p>
              <p class="card-text">Size: <%= ram_list[i].size %> GB</p>
              <p class="card-text">Speed: <%= ram_list[i].speed %> MHz</p>
              <p class="card-text">Type: <%= ram_list[i].type %></p>
              <p class="card-text">Price: $ <%= ram_list[i].price %></p>
            </div>
          </div>
          <br>
        </div>
      <% } %>
    </div>
    <% if(ram_list.length === 0) { %>
      <div class="alert alert-warning text-center" role="alert">
        There are no Ram.
      </div>
    <% } %>
  </div>

<%- include('../partials/footer.ejs') %>