<%- include('../partials/header.ejs') %>
<div class="container">
  <h1 class="text-center my-5"> <%= title %> </h1>

  <div class="row">
    <% for (var i=0; i< storage_list.length; i++) { %>
      <div class="col-md-3 mb-3">
        <div class="card h-100 product-cart" id="<%= storage_list[i]._id%>" >
          <% const prod = {name:storage_list[i].name, id:storage_list[i]._id, price: storage_list[i].price, image:storage_list[i].image  }%>

          <img src="<%=  typeof storage_list[i].toObject().image !== 'undefined' ? '/images/' + storage_list[i].image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= storage_list[i].name%>">
          <div class="card-body">
            <h5 class="card-title"> <a href="<%= storage_list[i].url %>"><%= storage_list[i].name %></a>  </h5> 
            <p class="card-text">
              <% for (var j = 0; j < storage_list[i].brand.length; j++) { %>
                <%= storage_list[i].brand[j].name %>
              <% } %>
             
              <br>
              <%= storage_list[i].type %> <br>
              <%= storage_list[i].speed %> <br>
              <span class="badge badge-success badge-pill">
                <%= "$" + storage_list[i].price.toLocaleString() + " ARS"%>
              </span>
            </p>
            <a href="<%= storage_list[i].url %>" class="btn btn-primary">See More</a>
            <button  value="<%= JSON.stringify(prod)%>" class="btn btn-primary product-cart">Add Cart</button>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <% if(storage_list.length === 0) { %>
    <div class="text-center my-5">
      <h3> There are no storages.</h3>
    </div>
  <% } %>
</div>
<%- include('../partials/footer.ejs') %>
