<%- include('../partials/header.ejs') %>

<link rel="stylesheet" href="/stylesheets/style_list.css" type="text/css">
<div class="container">

  <div class="row" id="container_list-products">
    <% for (var i=0; i< storage_list.length; i++) { %>
    <div class="col-md-3 mb-3">
      <div class="card h-100 product-cart" id="<%= storage_list[i]._id%>">
        <% const prod = {name:storage_list[i].name, id:storage_list[i]._id,
        price: storage_list[i].price, image:storage_list[i].image }%>

        <img style="padding:10px;"
          src="<%=  typeof storage_list[i].toObject().image !== 'undefined' ? storage_list[i].image : 'https://via.placeholder.com/300x200' %>"
          class="card-img-top"
          alt="<%= storage_list[i].name%>"
        />
        <div class="card-body">
          <h5 class="card-title"> 
              <a href="<%= storage_list[i].url %>">
                <%= storage_list[i].name.slice(0, 25) + (storage_list[i].name.length > 25 ? '...' : '')%>
              </a> 
            </h5>
          <p class="card-text">
            <% for (var j = 0; j < storage_list[i].brand.length; j++) { %> <%=
            storage_list[i].brand[j].name %> <% } %>

            <br />
            <%= storage_list[i].type %> <br />
            <%= storage_list[i].speed %> <br />
            <span class="badge badge-success badge-pill">
              <%= "$" + storage_list[i].price.toLocaleString() + " ARS"%>
            </span>
          </p>
          <button
            value="<%= JSON.stringify(prod)%>"
            class="btn btn-primary product-cart"
            id="btn-cart-add"
          >
            Add Cart
          </button>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% if(storage_list.length === 0) { %>
  <div class="text-center my-5">
    <h3>There are no storages.</h3>
  </div>
  <% } %>
</div>
<%- include('../partials/footer.ejs') %>
