<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center my-4">Motherboard: <%= motherboard.name %></h1>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-secondary">Brand</h4>
                                <% if(motherboard_brand.length > 0){ %>
                                
                                    <% motherboard_brand.forEach(function(brand){ %>
                                    
                                        <a href="<%= brand.url %>" class="text-black"><%= brand.name %></a>
                                    
                                    <% }); %>

                                <% } else { %>
                                <p class="text-danger">This motherboard has no brand</p>
                                <% } %>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-secondary">Price</h4>
                            <p>$<%= motherboard.price %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-secondary">Chipset</h4>
                            <p><%= motherboard.chipset %></p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-secondary">RAM Slots</h4>
                            <p><%= motherboard.ramSlots %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-secondary">Max RAM</h4>
                            <p><%= motherboard.maxRam %></p>
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-10">
                    <br>
                    <a href="javascript:history.back()" class="btn btn-outline-secondary my-4"> Go Back</a>
                </div>
                <div class="col-md-2">
                  <br>
                  <a href="<%= motherboard.url %>/delete" class="btn btn-danger">Delete</a>
                </div>
              </div>
      </div>
    </div>
</div>
      
<%- include('../partials/footer.ejs') %>