<%- include('./partials/index_header.ejs') %>

<div class="container my-5">
  <h1 class="text-center">Electronic Components Store</h1>
  <p class="text-center" style="width: 75%;margin:auto">
    Bienvenido a ByteBoh, es un proyecto de e-commerce inspirado en otras webs como 
    <a href="https://compragamer.com/" target="_blank">compra gamer</a> y 
    <a href="https://www.computodo.com.ar/" target="_blank">compu todo</a>. Mi intención con este proyecto es
     mostrar mis capacidades como programador.
  </p>
  <br>
  <% if (error) { %>
  <p class="text-center text-danger">Error obteniendo contenido dinámico </p>
  <% } else { %>
  <p class="text-center">Tenemos el siguiente catálogo de productos:</p>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="/computers">Computers</a></h5>
          <p class="card-text"><%= data.computer_count %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="/components/brands">Brands</a></h5>
          <p class="card-text"><%= data.brand_count %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/components/cabinets">Cabinets</a>
          </h5>
          <p class="card-text"><%= data.cabinet_count %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="/components/gpus">GPUs</a></h5>
          <p class="card-text"><%= data.gpu_count %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/components/motherboards">Motherboards</a>
          </h5>
          <p class="card-text"><%= data.motherboard_count %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/components/powerSupplies">Power Supplies</a>
          </h5>
          <p class="card-text"><%= data.power_supply_count %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="/components/cpus">CPUS</a></h5>
          <p class="card-text"><%= data.cpu_count %></p>
        </div>
      </div>
    </div>

    <% } %> <%- include('./partials/footer.ejs') %>
  </div>
</div>
