<%- include('../partials/header.ejs') %>


<div class="container">
  <h1 class="text-center my-5"> <%= title %> </h1>

  <div class="row">
    <% for (var i=0; i< cabinet_list.length; i++) { %>
      <div class="col-md-3 mb-3">
        <div class="card h-100">

          <img src="<%=  typeof cabinet_list[i].toObject().image !== 'undefined' ? '/images/' + cabinet_list[i].image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= cabinet_list[i].name%>">
          <div class="card-body">
            <h5 class="card-title"> <a href="<%= cabinet_list[i].url %>"><%= cabinet_list[i].name %></a>  </h5> 
            <p class="card-text">
              <% for (var j = 0; j < cabinet_list[i].brand.length; j++) { %>
                <%= cabinet_list[i].brand[j].name %>
              <% } %> -
              <span class="badge badge-primary badge-pill"> <%= cabinet_list[i].type %> </span> <br>
              <span class="badge badge-success badge-pill">
                <%= "$" + cabinet_list[i].price.toLocaleString() + " ARS"%>
              </span>
            </p>
            <a href="<%= cabinet_list[i].url %>" class="btn btn-primary">See More</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <% if(cabinet_list.length === 0) { %>
    <div class="text-center my-5">
      <h3> There are no cabinets.</h3>
    </div>
  <% } %>
</div>

  <%- include('../partials/footer.ejs') %>