
<%- include('../partials/header.ejs') %>

<div class="card" style="width: 650px; margin: 20px auto;">
    <h5 class="card-header" style="font-size: 1.25rem; text-align: center;">
      <%= title %>
    </h5>
    <div class="card-body">
      <form id="form" action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name" style="font-size: 1.15rem;">Name</label>
          <input type="text" value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.name) %>"
            class="form-control" id="name" name="name" placeholder="Enter cabinet name" required>
      </div>
        

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label  for="dimension">Dimension</label>
            <input type="text" 
              value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.dimension)  %>" 
              class="form-control" name="dimension" id="dimension" placeholder="xx*yy*zz cm" 
              required>
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" name="type" id="type" required>
              <option value="ATX">ATX</option>
              <option value="micro-ATX">micro-ATX</option>
              <option value="mini-ITX">mini-ITX</option>
            </select>
          </div>
          <div class="form-group">
            <label for="bay_5_25">5.25 Bay</label>
            <input type="number" 
            value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.bay_5_25)  %>" 
            class="form-control" name="bay_5_25" id="bay_5_25" min="0" required>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="bay_3_5">3.5 Bay</label>
            <input type="number" class="form-control" 
            value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.bay_3_5) %>" name="bay_3_5" id="bay_3_5" min="0">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <label for="bay_2_5">2.5 Bay</label>
            <input type="number" class="form-control" 
            value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.bay_2_5)  %>"name="bay_2_5" id="bay_2_5" min="0">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="price" 
            value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.price)  %>" id="price" min="0">
            
          </div>
        </div>
        
      </div>
     
      <div class="form-group">
        <label for="brand" style="font-size: 1.25rem; text-align: center;">Brand </label>
          <div>
            <% for (let brand of brands) { %>
                  <input  type="checkbox" name="brand" id="<%= brand._id %>" 
                  value="<%= brand._id %>" %>" <%= brand.checked ? 'checked' : '' %>>
                  <label style="font-size: 0.8rem;" for="<%= brand._id %>"> <%= brand.name %> </label> 
              <% } %>
      </div>
        
          <label for="image" style="font-size: 1.15rem;">Image</label>
          <p class="alert-danger">For the moment, you can have only one image for product. In the future, this functionality will be expanded</p>
          <input id="image" type="file" multiple name="image" class="form-control-file"  required>
          <input id="last_image" name="last_image" value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.image) %>" style="visibility:hidden" >
          <img src="<%= (typeof cabinet !== 'undefined' && typeof cabinet.toObject().image !== 'undefined') 
          ? `/images/${cabinet.image}` : 'https://via.placeholder.com/300x250' %>" height="250" 
          alt="Image preview..." id="preview" style="margin: 20px auto; display: block;">
        </div>
      </form>
    </div>
    <button onclick="document.getElementById('form').submit();" type="submit" 
    class="btn btn-primary d-flex mx-auto mt-3" style="margin-bottom: 10px;">Submit</button>
    
</div>
<% if(typeof errors !== 'undefined'){ %>
  <% errors.forEach(function(error) { %>
      <div class="alert alert-danger">
          <%= error.msg %>
      </div>
  <% }); %>
<% } %>
<script>
function previewFile() {
  var preview = document.getElementById("preview");
  var file = document.querySelector("input[type=file]").files[0];
  var reader = new FileReader();

  reader.addEventListener("load", function () {
    preview.src = reader.result;
  }, false);

  if (file) {
    reader.readAsDataURL(file);
  }
}

document.querySelector("input[type=file]").addEventListener("change", previewFile);
</script>
<%- include('../partials/footer.ejs') %>

