<%- include('../partials/header.ejs') %>

<form action="" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.name)  %>" type="text" class="form-control" name="name" id="name" required>
    </div>
    <div class="form-group">
      <label for="brand">Brand </label>
        <div>
        <% for (let brand of brands) { %>
            <input type="checkbox" name="brand" id="<%= brand._id %>" value="<%= brand._id %>" %>" <%= brand.checked ? 'checked' : '' %>>
            <label for="<%= brand._id %>"> <%= brand.name %> </label> 
        <% } %>
        </div>
        <div class="invalid-feedback">
            <% if(typeof errors !== 'undefined'){ %>
            <% if (error.param === 'brand') { %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
            <% }; %>
        <% } %></div>
    </div>
    <div class="form-group">
      <label for="dimension">Dimension</label>
      <input type="text" value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.dimension)  %>" class="form-control" name="dimension" id="dimension" placeholder="xx*yy*zz cm" 
      required>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" name="type" id="type" required>
        <option value="ATX">ATX</option>
        <option value="micro-ATX">micro-ATX</option>
        <option value="mini-ITX">mini-ITX</option>
      </select>
    </div>
    <div class="form-group">
      <label for="bay_5_25">5.25 Bay</label>
      <input type="number" value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.bay_5_25)  %>" class="form-control" name="bay_5_25" id="bay_5_25" min="0" required>
    </div>
    <div class="form-group">
      <label for="bay_3_5">3.5 Bay</label>
      <input type="number" class="form-control" value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.bay_3_5) %>" name="bay_3_5" id="bay_3_5" min="0">
    <div class="invalid-feedback"></div>
    </div>
    <div class="form-group">
        <label for="bay_2_5">2.5 Bay</label>
        <input type="number" class="form-control" value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.bay_2_5)  %>"name="bay_2_5" id="bay_2_5" min="0">
    <div class="invalid-feedback">
</div>
</div>
<div class="form-group">
  <label for="price">Price</label>
  <input type="number" class="form-control" name="price" value="<%= (typeof cabinet === 'undefined' ? '' : cabinet.price)  %>" id="price" min="0">
  <div class="invalid-feedback"></div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form><br>
<% if(typeof errors !== 'undefined'){ %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
    <% }); %>
<% } %>

</div>
</div>
</div>
  

<%- include('../partials/footer.ejs') %>