<%- include('../partials/header.ejs') %>

<div class="container">
  <h1 class="text-center my-5"> <%= title %> </h1>

  <% if(cabinet_list.length === 0) { %>
    <div class="alert alert-danger text-center" role="alert">
      There are no cabinets.
    </div>
  <% } else { %>
    <ul class="list-group">
      <% for (var i=0; i< cabinet_list.length; i++) { %>
        <li class="list-group-item">
          <a href="<%= cabinet_list[i].url %>" class="d-block"> <%= cabinet_list[i].name %> </a>
          <span class="badge badge-primary badge-pill"> <%= cabinet_list[i].type %> </span>
          <span class="badge badge-secondary badge-pill">
            <% for (var j=0; j< cabinet_list[i].brand.length; j++) { %>
              <%= cabinet_list[i].brand[j].name %>
              <% if (j != cabinet_list[i].brand.length -1) { %>
                +
              <% } %>
            <% } %>
          </span>
          <span class="badge badge-success badge-pill">
            <%= "$" + cabinet_list[i].price + " pesos argentinos"%>
          </span>
        </li>
      <% } %>
    </ul>
  <% } %>
</div>


  <%- include('../partials/footer.ejs') %>