<%- include('../partials/header.ejs') %>

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h4 class="card-title text-dark" style="text-align: center;">Power Supply: <%= powerSupply.name %></h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-subtitle mb-2 text-muted"> Brand:
                        
                                <% if(powerSupply_brand.length > 0){ %>
                                
                                    <% powerSupply_brand.forEach(function(brand){ %>
                                        <a href="<%= brand.url %>" class="text-black"><%= brand.name %></a>
                                    <% }); %>
                                
                                <% } else { %>
                                <p class="text-danger">This powerSupply has no brand</p>
                                <% } %>
                    </h5>
                </div>
                <div class="col-md-4">
                    <h5 class="card-subtitle mb-2 text-muted">Model: <%= powerSupply.model %></h5>
                </div>
                <div class="col-md-4">
                    <h5 class="card-subtitle mb-2 text-muted">Price: $<%= powerSupply.price %></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-subtitle mb-2 text-muted">Power: <%= powerSupply.power %> W</h5>
                </div>
                <div class="col-md-4">
                    <h5 class="card-subtitle mb-2 text-muted">Certifications: <%= powerSupply.certifications %></h5>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-10">
                    <br>
                    <a href="javascript:history.back()" class="btn btn-outline-secondary my-4"> Go Back</a>
                </div>
                <div class="col-md-2">
                  <br>
                  <a href="<%= powerSupply.url %>/delete" class="btn btn-danger">Delete</a>
                </div>
              </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>