<%- include('../partials/header.ejs') %>
<div class="container">
    <h1 class="text-center"><%= title %></h1>
    <br>
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Power</th>
          <th>Certifications</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; i< powerSupply_list.length; i++) { %>
          <tr>
            <td><a href="<%= powerSupply_list[i].url %>"> <%= powerSupply_list[i].name %> </a></td>
            <td>
              <% for (var j=0; j< powerSupply_list[i].brand.length; j++) { %>
                  <%= powerSupply_list[i].brand[j].name %>
                  <% if (j != powerSupply_list[i].brand.length -1) { %>
                    ,
                  <% } %>
              <% } %>
            </td>
            <td><%= powerSupply_list[i].model %></td>
            <td><%= powerSupply_list[i].power %> W</td>
            <td><%= powerSupply_list[i].certifications %></td>
            <td>$ <%= powerSupply_list[i].price %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <% if(powerSupply_list.length === 0) { %>
      <div class="alert alert-danger" role="alert">
        There are no power supplies.
        </div>
        <% } %>
        
        </div>
<%- include('../partials/footer.ejs') %>
  