<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/style_form.css" type="text/css">
<div class="container container-delete" >
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3>Delete powerSupply <%= powerSupply.name %></h3>
          <% if (powerSupply_computers.length > 0) { %>
          <p>
            <strong
              >Delete or update the following computers before attempting to
              delete this brand.</strong
            >
          </p>

          <div class="container">
            <br />
            <div class="row">
              <div class="col-md-6">
                <h4 class="text-light bg-dark p-3">Computers</h4>

                <ul class="list-group">
                  <% powerSupply_computers.forEach(function(computer){ %>
                  <li class="list-group-item">
                    <a href="<%= computer.url %>" class="text-dark"
                      ><%= computer.name %></a
                    >
                  </li>
                  <% }); %>
                </ul>
              </div>
            </div>

            <% } else { %>
            <div class="card-body">
              <p>Are you sure you want to delete the following powerSupply?</p>
              <h4><%= powerSupply.name %></h4>
              <form action="" method="post">
                <input
                  type="hidden"
                  name="powerSupplyid"
                  value="<%= powerSupply._id %>"
                  required
                />
                <div class="form-group">
                  <button type="submit" class="btn btn-danger">Delete</button>
                  <a href="/components/powerSupplies" class="btn btn-secondary"
                    >Cancel</a
                  >
                </div>
              </form>
            </div>
            <% } %>
            <div class="row">
              <div class="col-md-12">
                <br />
                <a href="javascript:history.back()" class="btn btn-primary"
                  >Go Back</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/footer.ejs') %>
</div>
