<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/style_list.css" type="text/css">
<div class="container">


  <div class="row" id="container_list-products">
    <% for (var i=0; i< gpu_list.length; i++) { %>
    <div class="col-md-3 mb-3">
      <div class="card h-100">
        <% const prod = {name:gpu_list[i].name, id:gpu_list[i]._id, price: gpu_list[i].price, image:gpu_list[i].image  }%>

        <img style="padding:10px;" src="<%=  typeof gpu_list[i].toObject().image !== 'undefined' ? gpu_list[i].image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= gpu_list[i].name%>">
        <div class="card-body">
          <h5 class="card-title"> 
            <a href="<%= gpu_list[i].url %>">
              <%= gpu_list[i].name.slice(0, 25) + (gpu_list[i].name.length > 25 ? '...' : '')%>
            </a> 
          </h5>
          <p class="card-text">
            <% for (var j = 0; j < gpu_list[i].brand.length; j++) { %>
            <%= gpu_list[i].brand[j].name %>
            <% } %>


            Core clock: <%= gpu_list[i].core_clock %> <br>
            Memory: <%= gpu_list[i].memory %><br>
            <span class="badge badge-success badge-pill">
              <%= "$" + gpu_list[i].price.toLocaleString() + " ARS"%>
            </span>
          </p>
          
          <button value="<%= JSON.stringify(prod)%>"  id="btn-cart-add"
            class="btn btn-primary product-cart">Add Cart</button>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% if(gpu_list.length === 0) { %>
  <div class="text-center my-5">
    <h3> There are no gpus.</h3>
  </div>
  <% } %>
</div>
<%- include('../partials/footer.ejs') %>