<%- include('../partials/header.ejs') %>

<div class="container">
  <h1 class="text-center my-5"> <%= title %> </h1>

  <div class="row">
    <% for (var i=0; i< cpu_list.length; i++) { %>
      <div class="col-md-3 mb-3">
        <div class="card h-100">
          <% const prod = {name:cpu_list[i].name, id:cpu_list[i]._id, price: cpu_list[i].price, image:cpu_list[i].image  }%>

          <img src="<%=  typeof cpu_list[i].toObject().image !== 'undefined' ? '/images/' + cpu_list[i].image : 'https://via.placeholder.com/300x200' %>" class="card-img-top" alt="<%= cpu_list[i].name%>">
          <div class="card-body">
            <h5 class="card-title"> <a href="<%= cpu_list[i].url %>"><%= cpu_list[i].name %></a>  </h5> 
            <p class="card-text">
              <% for (var j = 0; j < cpu_list[i].brand.length; j++) { %>
                <%= cpu_list[i].brand[j].name %>
              <% } %>
              - <%= cpu_list[i].core_count %> cores <br>
              - <%= cpu_list[i].thread_count %> threads<br>
              <span class="badge badge-success badge-pill">
                <%= "$" + cpu_list[i].price.toLocaleString() + " ARS"%>
              </span>
            </p>
            <a href="<%= cpu_list[i].url %>" class="btn btn-primary">See More</a>
            <button  value="<%= JSON.stringify(prod)%>" class="btn btn-primary product-cart">Add Cart</button>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <% if(cpu_list.length === 0) { %>
    <div class="text-center my-5">
      <h3> There are no cpus.</h3>
    </div>
  <% } %>
</div>
<%- include('../partials/footer.ejs') %>
  