<%- include('../partials/header.ejs') %>

<div class="container">
    <h1><%= title %></h1>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Brand</th>
        <th>Core Count</th>
        <th>Thread Count</th>
        <th>Clock Speed</th>
        <th>Socket</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i< cpu_list.length; i++) { %>
        <tr>
          <td><a href="<%= cpu_list[i].url %>"> <%= cpu_list[i].name %> </a></td>
          <td><%= cpu_list[i].model %></td>
          <td><a href="<%= cpu_list[i].brand.url %>"><%= cpu_list[i].brand.name %></a></td>
          <td><%= cpu_list[i].coreCount %></td>
          <td><%= cpu_list[i].threadCount %></td>
          <td><%= cpu_list[i].clockSpeed %> GHz</td>
          <td><%= cpu_list[i].socket %></td>
          <td><%= "$" + cpu_list[i].price + " pesos argentinos" %></td>
        </tr>
        <% } %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer.ejs') %>
  