
<%- include('../partials/header.ejs') %>

<div class="container">
  <h1 class="text-center" style="color:black;">Brand: <%= brand.name %></h1>
  <br>
  <% if(brand.image !== undefined){ %>
    <img class="img-tumbnail" src="/images/<%= brand.image %>" alt="<%= brand.name %>">
  <% }; %>
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-light bg-dark p-3">Cabinets</h4>
      <% if(brand_cabinets.length > 0){ %>
      <ul class="list-group">
        <% brand_cabinets.forEach(function(cabinet){ %>
        <li class="list-group-item">
            <a href="<%= cabinet.url %>" class="text-dark"><%= cabinet.name %></a>
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <p class="text-danger">This brand has no cabinets</p>
      <% } %>
    </div>
    <div class="col-md-6">
      <h4 class="text-light bg-dark p-3">GPUs</h4>
      <% if(brand_gpus.length > 0){ %>
      <ul class="list-group">
        <% brand_gpus.forEach(function(gpu){ %>
        <li class="list-group-item">
            <a href="<%= gpu.url %>" class="text-dark"><%= gpu.name %></a>
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <p class="text-danger">This brand has no GPUs</p>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-light bg-dark p-3">Motherboards</h4>
      <% if(brand_motherboards.length > 0){ %>
      <ul class="list-group">
        <% brand_motherboards.forEach(function(motherboard){ %>
        <li class="list-group-item">
            <a href="<%= motherboard.url %>" class="text-dark"><%= motherboard.name %></a>
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <p class="text-danger">This brand has no motherboards</p>
      <% } %>
    </div>
    <div class="col-md-6">
      <h4 class="text-light bg-dark p-3">Power Supplies</h4>
      <% if(brand_powersupplies.length > 0){ %>
      <ul class="list-group">
        <% brand_powersupplies.forEach(function(powersupply){ %>
        <li class="list-group-item">
            <a href="<%= powersupply.url %>" class="text-dark"><%= powersupply.name %></a>
        </li>
        <% }); %>
        </ul>
        <% } else { %>
        <p class="text-danger">This brand has no power supplies</p>
        <% } %>
        </div>
        
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4 class="text-light bg-dark p-3">RAMs</h4>
              <% if(brand_rams.length > 0){ %>
              <ul class="list-group">
                <% brand_rams.forEach(function(ram){ %>
                <li class="list-group-item">
                    <a href="<%= ram.url %>" class="text-dark"><%= ram.name %></a>
                </li>
                <% }); %>
              </ul>
              <% } else { %>
              <p class="text-danger">This brand has no RAMs</p>
              <% } %>
            </div>
            <div class="col-md-6">
              <h4 class="text-light bg-dark p-3">Storages</h4>
              <% if(brand_storages.length > 0){ %>
              <ul class="list-group">
                <% brand_storages.forEach(function(storage){ %>
                <li class="list-group-item">
                    <a href="<%= storage.url %>" class="text-dark"><%= storage.name %></a>
                </li>
                <% }); %>
              </ul>
              <% } else { %>
              <p class="text-danger">This brand has no Storages</p>
              <% } %>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px">
            <div class="col-md-5">
                <br>
                <a href="javascript:history.back()" class="btn btn-primary"> Go Back</a>
            </div>
            <div class="col-md-5">
              <br>
              <a href="<%= brand.url %>/delete" class="btn btn-danger">Delete</a>
            </div>
            <div class="col-md-2">
              <br>
              <a href="<%= brand.url %>/update" class="btn btn-primary" style="background: rgb(51, 51, 148)"bac>Update</a>
            </div>
          </div>

        </div>
        <%- include('../partials/footer.ejs') %>